*.la
*.lo
*.o
*.log
*.pc
libtool
pcre2-config
*.exe
.libs/
bin/
src/.deps/
src/.dirstamp
src/.libs/
src/config.h
src/pcre2.h
src/pcre2_chartables.c
src/stamp-h1
Makefile
config.status
autom4te.cache/
